body{
padding:0;
margin:0;
background-color:#666;
}

h1{
color:#ccc;
font-family: 'Cinzel Decorative', cursive;
font-size:2.5em;
margin-bottom:.25em;
letter-spacing:+.03em;
}

#container {
    overflow:hidden;
    position:relative;
    display:none;
    max-width: 600px;
    min-width: 320px;
    width:100%;
    background-color:white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 8px 8px 6px #444;
	-webkit-box-shadow: 8px 8px 6px #444;
	box-shadow: 8px 8px 6px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
    margin:auto auto;
}

#map {
    position:absolute;
    top:0;
    left:0;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}


.zoombutton{
 border:1px solid black;
height:50px;
width:50px;
text-align:center;
line-height:1.55em;
cursor:pointer;
font-size:2em;
font-weight:bold;
display:inline-block;
margin-top:20px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
background-color:white;
-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
}

#zoomout{
line-height:1.3em;
}

#zoomin{
margin-right:20px    
}

.zoombutton:hover{
background-color:#bbb;    
}

#buttoncontainer{
display:none;    
overflow:auto;
margin:auto auto;
text-align:center;
}

#obj1{
top:75px;
left:70px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #444;
	-webkit-box-shadow: 3px 3px 4px #444;
	box-shadow: 3px 3px 4px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.mapobject{
 position:absolute;
 cursor: pointer;
 display:inline-block;
    
}

.pin{
    background-color:red; 
    height:20px;
    width:20px;
    border:3px solid white;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.pin:hover{
    background-color:green; 
}

#debug{
clear:both;    
width:100%;
color:white;
}

.initCap{
font-size:1.3em;    
}

#contentcontainer{
margin:auto auto;
text-align:center;
padding:20px;
}


